.container{
    background-color: #000;
    margin-top: -1rem;
}
.images{
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    cursor: grabbing;
}
.images img {
    width: 80px;
    height: 20px;
    cursor: pointer;
}