.container{
    width: 100%;
}
.contents{
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    margin: 2rem 3rem;
}
.div{
    width: 230px;
    height: 220px;
    background-color: bisque;
}